Repository ihmeuw/vivarium_research, pull requests merged in 2021-12, with the labels that each got.

#692 Feature/rf neb exposure model
  docs/source/gbd2020_models/risk_exposures/suboptimal_breastfeeding/breastfeeding_risk_hierarchy.svg
  docs/source/gbd2020_models/risk_exposures/suboptimal_breastfeeding/index.rst
Labels: CIFF_project, GBD modeling strategy

#694 Update outdated x-factor documentation
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
  docs/source/concept_models/vivarium_ciff_sam/correlation_structure.drawio
  docs/source/concept_models/vivarium_ciff_sam/correlation_structure.svg
  docs/source/gbd2019_models/risk_risk_correlation/maternal_bmi_x_factor/index.rst
Labels: documentation clean up, CIFF_project

#693 Update to CIFF validation tracking table
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: CIFF_project, verification and validation tracking

#697 add model 4.5.7 to v and v table
  docs/source/concept_models/vivarium_ciff_sam/am_concept_model_diagram.svg
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: CIFF_project, verification and validation tracking

#698 add template page for iv iron concept model
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: template, iv_iron_project

#695 update x factor paf calculation strategy
  docs/source/gbd2019_models/risk_effects/x_factor/index.rst
Labels: Vivarium modeling strategy, update, CIFF_project

#699 IV iron project overview and objectives
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: iv_iron_project

#700 IV iron concept model diagram
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/concept_model.svg
Labels: iv_iron_project

#702 IV iron modeling component links
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: iv_iron_project

#701 IV iron scenarios and intervention coverage levels
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: iv_iron_project

#703 IV iron demographics
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: iv_iron_project

#706 iv iron intervention model doc outlines
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/intervention_models/iv_iron_antenatal/index.rst
  docs/source/intervention_models/iv_iron_postpartum/index.rst
Labels: template, iv_iron_project

#704 IV iron doc cleanup and model version table
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: iv_iron_project

#705 maternal supplementation impact on hemoglobin
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/intervention_models/maternal_anemia_intervention/index.rst
  docs/source/intervention_models/maternal_supplementation/hemoglobin_figure.png
  docs/source/intervention_models/maternal_supplementation/index.rst
Labels: iv_iron_project

#709 Maternal hemorrhage risk effect outline
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/gbd2019_models/risk_effects/maternal_hemorrhage/index.rst
Labels: template, iv_iron_project

#707 Create other models page
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/index.rst
  docs/source/other_models/index.rst
  docs/source/other_models/pregnancy/index.rst
Labels: template, iv_iron_project

#710 Fertility model
  docs/source/other_models/pregnancy/diagram.svg
  docs/source/other_models/pregnancy/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#708 cause model templates for IV iron project
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
  docs/source/gbd2019_models/causes/maternal_hemorrhage_incidence/index.rst
Labels: template, iv_iron_project

#711 Maternal disorders gbd modeling strategy
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
  docs/source/gbd2019_models/causes/maternal_disorders/maternal_disorder_burden_by_subcause.png
Labels: GBD modeling strategy, iv_iron_project

#714 Maternal hemorrhage incidence vivarium modeling strategy
  docs/source/gbd2019_models/causes/maternal_hemorrhage_incidence/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#713 Maternal hemorrhage gbd modeling strategy
  docs/source/gbd2019_models/causes/maternal_hemorrhage_incidence/index.rst
Labels: GBD modeling strategy, iv_iron_project

#719 IV iron outputs and table shell
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/output_table.csv
Labels: Vivarium modeling strategy, iv_iron_project

#712 Maternal disorders vivarium modeling strategy
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#715 Maternal hemorrhage risk effect modeling strategy
  docs/source/gbd2019_models/risk_effects/maternal_hemorrhage/index.rst
Labels: Vivarium modeling strategy, GBD modeling strategy, iv_iron_project

#716 Hemoglobin risk effect hemorrhage
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/gbd2019_models/hemoglobin_anemia_and_iron_deficiency/risk_effects/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#717 IV iron intervention and maternal hemoglobin
  docs/source/intervention_models/iv_iron_antenatal/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#718 Postpartum iv iron intervention
  docs/source/intervention_models/iv_iron_postpartum/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#720 IV iron location aggregation details, timestep, etc.
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: iv_iron_project

#722 Anemia threshold clarification
  docs/source/gbd2019_models/hemoglobin_anemia_and_iron_deficiency/anemia_impairment/index.rst
Labels: iv_iron_project

#723 Updated maternal disorder cause model assumptions
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
  docs/source/gbd2019_models/causes/maternal_hemorrhage_incidence/index.rst
  docs/source/other_models/pregnancy/index.rst
Labels: iv_iron_project

#726 IV iron concept model diagram specific to model version #1
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/concept_model_full.svg
  docs/source/concept_models/vivarium_iv_iron/concept_model_version_1.svg
Labels: iv_iron_project

#727 iv iron additional assumptions and limitations
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/gbd2019_models/hemoglobin_anemia_and_iron_deficiency/risk_effects/index.rst
Labels: iv_iron_project

#731 Post maternal disorders state
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#730 Maternal disorders for births that occur in the 55-59 age group
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
  docs/source/other_models/pregnancy/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#732 clarify IV iron age start and end parameters
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: documentation clean up, iv_iron_project

#733 change IV iron model version names to roman numerals
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/concept_model_version_i.svg
  docs/source/intervention_models/maternal_supplementation/index.rst
Labels: documentation clean up, iv_iron_project

#734 Instructions for regional parameter weighting calculations
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: Vivarium modeling strategy, iv_iron_project

#725 add note about ensemble distribution sampling
  docs/source/gbd2019_models/hemoglobin_anemia_and_iron_deficiency/hemoglobin/index.rst
Labels: iv_iron_project

#735 Pregnancy model eq fix
  docs/source/gbd2019_models/hemoglobin_anemia_and_iron_deficiency/hemoglobin/index.rst
  docs/source/other_models/pregnancy/index.rst
Labels: documentation clean up, iv_iron_project
