Repository ihmeuw/vivarium_research, pull requests merged in 2022-02, with the labels that each got.

#759 Diarrheal diseases prevalence
  docs/source/gbd2019_models/causes/diarrheal_diseases/index.rst
  docs/source/gbd2019_models/causes/measles/index.rst
Labels: update, CIFF_project

#760 ciff model 5.3.2 v and v
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: CIFF_project, verification and validation tracking

#763 IV iron update according to BMGF feedback
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
  docs/source/intervention_models/maternal_supplementation/index.rst
Labels: update, iv_iron_project

#764 Breastfeeding risk difference to relative risk
  docs/source/intervention_models/breastfeeding_promotion/index.rst
Labels: research background, CIFF_project

#765 CIFF burn-in period request
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: Vivarium modeling strategy, update, SE review required, CIFF_project

#767 add additional wasting treatment scenario
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: update, SE review required, CIFF_project

#768 CIFF updated concept model scope
  docs/source/concept_models/vivarium_ciff_sam/am_concept_model_diagram.svg
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: Vivarium modeling strategy, update, SE review required, CIFF_project

#769 Zinc intervention document
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
  docs/source/intervention_models/therapeutic_zinc/index.rst
Labels: Vivarium modeling strategy, CIFF_project

#770 update diarrheal diseases on wasting PAF equation
  docs/source/gbd2019_models/risk_effects/diarrheal_diseases/index.rst
Labels: Vivarium modeling strategy, update, CIFF_project

#772 IV iron child sim output table
  docs/source/concept_models/vivarium_iv_iron/child_model/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/child_model/output_table.csv
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
Labels: Vivarium modeling strategy, iv_iron_project

#771 BW on CGF maternal supplementation intervention effects
  docs/source/intervention_models/maternal_supplementation/index.rst
  docs/source/intervention_models/maternal_supplementation/stunting_exposure_dist.svg
  docs/source/intervention_models/maternal_supplementation/wasting_exposure_dist.svg
Labels: Vivarium modeling strategy, CIFF_project

#774 update from lognormal to normal distribution
  docs/source/intervention_models/zinc_supplementation/index.rst
Labels: update, CIFF_project

#782 clarify table for alternative scenario 1.5
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: documentation clean up, CIFF_project

#777 update k value to global average rather than ethiopia specific value
  docs/source/intervention_models/wasting_treatment/index.rst
Labels: update, CIFF_project, data

#778 zinc coverage propensities
  docs/source/intervention_models/zinc_supplementation/index.rst
Labels: Vivarium modeling strategy, CIFF_project

#779 5.3.3 validation table
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: CIFF_project, verification and validation tracking

#776 Vicious cycle remission rate equations fix
  docs/source/gbd2019_models/risk_effects/diarrheal_diseases/index.rst
Labels: update, CIFF_project, data

#783 Wasting transition rate data update
  docs/source/gbd2020_models/risk_attributable_causes/wasting/index.rst
  docs/source/intervention_models/wasting_treatment/index.rst
Labels: update, CIFF_project, data

#787 model 6.0.0 validation and verification table
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: CIFF_project, verification and validation tracking

#790 ciff model 6.0.1 validation tracking
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
Labels: CIFF_project, verification and validation tracking

#784 Cleanup: Move concept model template into Concept Models section
  docs/source/concept_models/vivarium_conceptmodel_template/concept_model.rst
  docs/source/gbd2017_models/index.rst
Labels: documentation clean up

#785 Multiple Myeloma Phase 2 concept model template
  docs/source/concept_models/vivarium_sanofi_multiple_myeloma/concept_model.rst
  docs/source/concept_models/vivarium_sanofi_multiple_myeloma_2/concept_model.rst
Labels: template, MM_project
