Repository ihmeuw/vivarium_research, pull requests merged in 2022-03, with the labels that each got.

#791 Maternal disorders YLDs
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#789 Update mild to susceptible remission probability
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
  docs/source/gbd2020_models/risk_attributable_causes/wasting/index.rst
Labels: update, CIFF_project, data

#786 custom paf calculation for wasting and diarrhea
  docs/source/gbd2019_models/risk_effects/wasting/index.rst
Labels: Vivarium modeling strategy, update, CIFF_project

#792 make changes and todos from child concept model meeting
  docs/source/concept_models/vivarium_iv_iron/child_model/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
Labels: Vivarium modeling strategy, iv_iron_project

#800 MM Concept Model: Remake outline to be more useful
  docs/source/concept_models/vivarium_sanofi_multiple_myeloma_2/concept_model.rst
Labels: template, documentation clean up, MM_project

#801 MM Concept Model: Add links to Phase 1 diagram and cause model
  docs/source/concept_models/vivarium_sanofi_multiple_myeloma_2/concept_model.rst
Labels: MM_project

#804 Multiple Myeloma concept model: Add stubs for risk exposures and risk effects
  docs/source/concept_models/vivarium_sanofi_multiple_myeloma_2/concept_model.rst
  docs/source/gbd2019_models/risk_effects/mm_risk_effects/index.rst
  docs/source/gbd2019_models/risk_exposures/mm_risk_exposures/index.rst
Labels: template, MM_project

#806 MM Concept Model: Start project overview section
  docs/source/concept_models/vivarium_sanofi_multiple_myeloma_2/concept_model.rst
Labels: MM_project

#805 MM Concept Model: Start Background section
  docs/source/concept_models/vivarium_sanofi_multiple_myeloma_2/concept_model.rst
Labels: MM_project

#808 Cleanup - Rename Multiple Myeloma project folders and internal links
  docs/source/concept_models/vivarium_csu_multiple_myeloma/concept_model.rst
  docs/source/concept_models/vivarium_csu_multiple_myeloma/concept_model_diagram.svg
  docs/source/concept_models/vivarium_csu_multiple_myeloma/treatment_landscape_braunlin_et_al_2021.png
  docs/source/concept_models/vivarium_csu_multiple_myeloma_2/concept_model.rst
  docs/source/gbd2019_models/risk_effects/mm_risk_effects/index.rst
  docs/source/gbd2019_models/risk_exposures/mm_risk_exposures/index.rst
Labels: documentation clean up, MM_project

#810 MM concept model - add link to Sharepoint folder
  docs/source/concept_models/vivarium_csu_multiple_myeloma_2/concept_model.rst
Labels: documentation clean up, MM_project

#809 Multiple myeloma treatment model template
  docs/source/concept_models/vivarium_csu_multiple_myeloma_2/concept_model.rst
  docs/source/intervention_models/multiple_myeloma_treatment/index.rst
Labels: template, MM_project

#793 updates for vicious cycle
  docs/source/gbd2019_models/causes/diarrheal_diseases/index.rst
  docs/source/gbd2019_models/risk_effects/diarrheal_diseases/index.rst
Labels: meta modeling strategy, CIFF_project

#795 iv iron v and v table
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
Labels: verification and validation tracking, iv_iron_project

#812 IV iron maternal disorders model v and v
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/maternal_model/output_table.csv
Labels: verification and validation tracking, iv_iron_project

#816 Pregnancy model fix wrong covariate ID
  docs/source/other_models/pregnancy/index.rst
Labels: update, iv_iron_project

#818 Update to maternal disorders ratio equation
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
  docs/source/gbd2019_models/causes/maternal_hemorrhage_incidence/index.rst
Labels: Vivarium modeling strategy, update, SE review required, iv_iron_project

#820 update iv iron concept model component scope
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/concept_model_full.svg
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
  docs/source/gbd2019_models/hemoglobin_anemia_and_iron_deficiency/risk_effects/index.rst
Labels: documentation clean up, iv_iron_project

#819 note about temporary fix to maternal disorders ylds
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
Labels: documentation clean up, iv_iron_project

#821 update pregnancy document to be consistent with implementation
  docs/source/other_models/pregnancy/diagram.svg
  docs/source/other_models/pregnancy/index.rst
Labels: SE review required, iv_iron_project

#822 Solution for negative maternal disorders YLDs
  docs/source/gbd2019_models/causes/maternal_disorders/index.rst
Labels: update, iv_iron_project

#814 Values for HGB below 70 among pregnant population for PAF
  docs/source/gbd2019_models/hemoglobin_anemia_and_iron_deficiency/risk_effects/index.rst
Labels: data, iv_iron_project

#823 hemoglobin weighting to plw rather than wra
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
Labels: Vivarium modeling strategy, update, iv_iron_project

#825 Maternal disorders cause model validation updates
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
Labels: verification and validation tracking, iv_iron_project

#824 fix error in stillbirth ratio covariate ID
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
Labels: documentation clean up, iv_iron_project

#826 update ASFR distribution to truncated normal
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
  docs/source/other_models/pregnancy/index.rst
Labels: update, iv_iron_project

#827 Update pregnancy duration for "other" outcome
  docs/source/other_models/pregnancy/index.rst
Labels: Vivarium modeling strategy, update, SE review required, iv_iron_project

#828 iv iron child sim validation
  docs/source/concept_models/vivarium_iv_iron/child_model/concept_model.rst
  docs/source/gbd2019_models/risk_effects/maternal_hemorrhage/index.rst
Labels: verification and validation tracking, iv_iron_project

#829 hemorrhage risk effect update
  docs/source/concept_models/vivarium_iv_iron/maternal_model/output_table.csv
  docs/source/gbd2019_models/risk_effects/maternal_hemorrhage/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#830 Clarify use of 2019 data for CGF
  docs/source/concept_models/vivarium_iv_iron/child_model/concept_model.rst
Labels: iv_iron_project

#831 Antenatal iv iron impact on BW
  docs/source/intervention_models/iv_iron_antenatal/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#832 Birthweight on wasting effects
  docs/source/intervention_models/iv_iron_antenatal/index.rst
  docs/source/intervention_models/maternal_supplementation/index.rst
Labels: Vivarium modeling strategy, iv_iron_project

#834 Severity-specific hemorrhage fractions
  docs/source/gbd2019_models/risk_effects/maternal_hemorrhage/index.rst
Labels: data, iv_iron_project

#833 Hgb effect on birth outcome
  docs/source/gbd2019_models/hemoglobin_anemia_and_iron_deficiency/risk_effects/index.rst
Labels: Vivarium modeling strategy, iv_iron_project
