Repository ihmeuw/vivarium_research, pull requests merged in 2022-08, with the labels that each got.

#936 Update IV iron child timestep to 4 days
  docs/source/concept_models/vivarium_iv_iron/child_model/concept_model.rst
Labels: Vivarium modeling strategy, update, SE review required, iv_iron_project

#934 Model 3 V&V log
  docs/source/concept_models/vivarium_csu_multiple_myeloma_2/concept_model.rst
Labels: MM_project

#935 minor updates and added references for adherence
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/concept_models/vivarium_us_cvd/decision_tree_emergency.svg
  docs/source/concept_models/vivarium_us_cvd/decision_tree_followup.svg
  docs/source/concept_models/vivarium_us_cvd/decision_tree_screening.svg
  docs/source/concept_models/vivarium_us_cvd/sbp_ramp_followup.svg
  docs/source/concept_models/vivarium_us_cvd/sbp_ramp_initial.svg
  docs/source/intervention_models/crm_mgmt/initialization.rst
Labels: research background, CVD_project

#938 IV iron simulation parameter update
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
Labels: Vivarium modeling strategy, iv_iron_project

#941 Update stillbirth model in accordance with SWE implementation plan
  docs/source/gbd2019_models/hemoglobin_anemia_and_iron_deficiency/risk_effects/index.rst
  docs/source/other_models/pregnancy/index.rst
Labels: Vivarium modeling strategy, update, iv_iron_project

#943 Add treatment effects relative to China population
  docs/source/intervention_models/multiple_myeloma_treatment/index.rst
  docs/source/intervention_models/multiple_myeloma_treatment/mortality_hrs_china.csv
  docs/source/intervention_models/multiple_myeloma_treatment/relapse_hrs_china.csv
Labels: MM_project

#944 Update risk exposures and effects for China population
  docs/source/gbd2019_models/risk_effects/mm_risk_effects/final_risk_effects_china.csv
  docs/source/gbd2019_models/risk_effects/mm_risk_effects/final_risk_effects_docs_china.csv
  docs/source/gbd2019_models/risk_effects/mm_risk_effects/index.rst
  docs/source/gbd2019_models/risk_exposures/mm_risk_exposures/index.rst
Labels: MM_project

#940 China treatment changes
  docs/source/intervention_models/multiple_myeloma_treatment/china_coverage_targets.csv
  docs/source/intervention_models/multiple_myeloma_treatment/index.rst
  docs/source/intervention_models/multiple_myeloma_treatment/postprocessing_flowchart.svg
Labels: MM_project

#946 Add network diagrams to treatment effects section
  docs/source/intervention_models/multiple_myeloma_treatment/index.rst
  docs/source/intervention_models/multiple_myeloma_treatment/ndmm_TTD_simple_network.png
  docs/source/intervention_models/multiple_myeloma_treatment/rrmm_TTD_simple_network.png
Labels: MM_project

#945 Add hazard rates files for China
  docs/source/gbd2019_models/causes/neoplasms/multiple_myeloma_2/cancer_model.rst
Labels: MM_project

#942 Isa and Dara projections for China
  docs/source/intervention_models/multiple_myeloma_treatment/index.rst
  docs/source/intervention_models/multiple_myeloma_treatment/isa_dara_china_projections.png
  docs/source/intervention_models/multiple_myeloma_treatment/target_dara_coverage_china.csv
  docs/source/intervention_models/multiple_myeloma_treatment/target_isa_coverage_china.csv
Labels: MM_project

#939 IV iron location expansion data
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: data, iv_iron_project

#949 Fix typo in burn-in years
  docs/source/gbd2019_models/causes/neoplasms/multiple_myeloma_2/cancer_model.rst
Labels: MM_project

#947 Acute malnutrition paper concept model
  docs/source/concept_models/vivarium_ciff_sam/concept_model.rst
  docs/source/concept_models/vivarium_ciff_sam_2/am_concept_model_diagram.svg
  docs/source/concept_models/vivarium_ciff_sam_2/concept_model.rst
Labels: CIFF_project

#952 Stillbirth and Ethiopia model VV tracking
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
Labels: verification and validation tracking, iv_iron_project

#951 minor updates to IHD and LDL-C documentation and finalizing adherence
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/gbd2019_models/causes/ihd/index.rst
  docs/source/gbd2019_models/risk_exposures/ldl/index.rst
Labels: documentation clean up, CVD_project

#953 IV iron coverage plots for national locations
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
  docs/source/concept_models/vivarium_iv_iron/intervention_coverage_ethiopia.png
  docs/source/concept_models/vivarium_iv_iron/intervention_coverage_india.png
  docs/source/concept_models/vivarium_iv_iron/intervention_coverage_nigeria.png
Labels: documentation clean up, iv_iron_project

#955 Nigeria and India to country VV
  docs/source/concept_models/vivarium_iv_iron/maternal_model/concept_model.rst
Labels: verification and validation tracking, iv_iron_project

#954 Treatments efficacy and assignment / progression
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
Labels: research background, CVD_project

#956 Treatment pathway
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/concept_models/vivarium_us_cvd/ldl_ramp_all.svg
  docs/source/concept_models/vivarium_us_cvd/ldl_ramp_followup.svg
  docs/source/concept_models/vivarium_us_cvd/ldl_ramp_initial.svg
  docs/source/concept_models/vivarium_us_cvd/sbp_ramp_all.svg
  docs/source/concept_models/vivarium_us_cvd/sbp_ramp_followup.svg
  docs/source/concept_models/vivarium_us_cvd/sbp_ramp_initial.svg
Labels: CVD_project

#957 Remove incorrect arrow from MM concept model
  docs/source/concept_models/vivarium_csu_multiple_myeloma_2/concept_model_diagram.svg
Labels: MM_project

#958 Creation of a max and min of SBP
  docs/source/gbd2019_models/risk_exposures/sbp/index.rst
Labels: documentation clean up, CVD_project

#960 Adding initialization parameters
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
Labels: research background, update, CVD_project

#959 add links to non-age-specific national data values
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: data, iv_iron_project

#961 Update sqlns intervention document with new data sources and targeting
  docs/source/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: Vivarium modeling strategy, update, CIFF_project, data

#962 Wasting concept model updates
  docs/source/concept_models/vivarium_ciff_sam_2/concept_model.rst
  docs/source/gbd2019_models/risk_effects/wasting/index.rst
Labels: Vivarium modeling strategy, CIFF_project

#963 Sqlns coverage clarification
  docs/source/concept_models/vivarium_ciff_sam_2/concept_model.rst
  docs/source/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: documentation clean up, CIFF_project

#964 SQ-LNS document version tracking
  docs/source/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: documentation clean up, CIFF_project

#965 reformat outputs/stratification info to match model spec file format
  docs/source/concept_models/vivarium_ciff_sam_2/concept_model.rst
Labels: documentation clean up, CIFF_project
