Repository ihmeuw/vivarium_research, pull requests merged in 2022-09, with the labels that each got.

#967 updates to V&V table, to the adherence and treatments based on Greg's…
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/concept_models/vivarium_us_cvd/concept_model_v3.svg
  docs/source/concept_models/vivarium_us_cvd/ldl_ramp_all.svg
Labels: SE review required, CVD_project

#968 How to model correlated risks ppt
  docs/source/model_design/correlated_risks/Risk-Risk Correlation.pptx
  docs/source/model_design/correlated_risks/index.rst
Labels: meta modeling strategy

#966 IV iron model run tracking table
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: iv_iron_project

#969 Wasting paper concept model doc edits
  docs/source/concept_models/vivarium_ciff_sam_2/concept_model.rst
Labels: documentation clean up, CIFF_project

#971 Heart failure modeling updates
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/gbd2019_models/causes/heart_failure/index.rst
  docs/source/gbd2019_models/causes/ihd/index.rst
Labels: CVD_project

#970 Adding in results table, model 3 V&V and some new limitation
  docs/source/concept_models/vivarium_us_cvd/Model3_VV_Angina.png
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
Labels: research background, verification and validation tracking, CVD_project

#974 IV iron results wave status
  docs/source/concept_models/vivarium_iv_iron/concept_model.rst
Labels: verification and validation tracking, iv_iron_project

#973 Wasting concept model finalization
  docs/source/concept_models/vivarium_ciff_sam_2/concept_model.rst
  docs/source/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: CIFF_project

#976 CMAM lit background
  docs/source/intervention_models/wasting_treatment/index.rst
Labels: research background, CIFF_project

#979 Vivarium best practices: results processing and v&v tips
  docs/source/model_design/concept_model/results_processing_steps/index.rst
Labels: meta modeling strategy

#978 Vivarium best practices: timestep considerations
  docs/source/model_design/concept_model/choosing_appropriate_time_step/index.rst
Labels: meta modeling strategy

#982 vivarium best practices: monte carlo uncertainty
  docs/source/model_design/concept_model/monte_carlo_uncertainty/index.rst
Labels: meta modeling strategy

#983 Outreach intervention page revamping
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/intervention_models/crm_mgmt/vivarium_outreach.rst
Labels: Vivarium modeling strategy, CVD_project

#981 Assorted updates including V&V notes, SE requests, and additional limitations
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/intervention_models/crm_mgmt/vivarium_outreach.rst
Labels: CVD_project

#980 Wasting concept model edit: change seed to pop size
  docs/source/concept_models/vivarium_ciff_sam_2/concept_model.rst
Labels: documentation clean up, CIFF_project

#984 Wasting model outputs for cause and risk effect V&V
  docs/source/concept_models/vivarium_ciff_sam_2/concept_model.rst
Labels: CIFF_project

#985 adding a couple of clarifications to the results
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
Labels: documentation clean up, CVD_project

#988 Updating the SBP effects docs with HF information
  docs/source/gbd2019_models/causes/heart_failure/index.rst
  docs/source/gbd2019_models/risk_effects/sbp/index.rst
Labels: CVD_project

#990 updates and clarifications after talking with Steve
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/concept_models/vivarium_us_cvd/sbp_ramp_all.svg
Labels: CVD_project

#989 Adding the polypill intervention
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/concept_models/vivarium_us_cvd/concept_model_v3.svg
  docs/source/concept_models/vivarium_us_cvd/sbp_ramp_all.svg
  docs/source/gbd2019_models/causes/heart_failure/index.rst
  docs/source/gbd2019_models/risk_effects/sbp/index.rst
  docs/source/intervention_models/crm_mgmt/tx.rst
  docs/source/intervention_models/crm_mgmt/vivarium_polypill.rst
Labels: CVD_project

#993 Assorted updates from Steve
  docs/source/concept_models/vivarium_us_cvd/concept_model.rst
Labels: SE review required, documentation clean up, CVD_project

#992 Make minor edits to PRL concept model
  docs/source/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#991 Correct assumptions and limitations of Phase 2
  docs/source/gbd2019_models/causes/neoplasms/multiple_myeloma_2/cancer_model.rst
  docs/source/intervention_models/multiple_myeloma_treatment/index.rst
Labels: MM_project

#977 Vivarium best practices: double counting
  docs/source/model_design/concept_model/double_counting_issues/index.rst
Labels: meta modeling strategy
