Repository ihmeuw/vivarium_research, pull requests merged in 2023-10, with the labels that each got.

#1349 Adding MAM Targeting
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
Labels: nutrition_optimization

#1346 Updates to mediation docs
  docs/source/models/risk_effects/bmi/Mediation Notes.docx
  docs/source/models/risk_effects/bmi/heart_failure_deltas.csv
  docs/source/models/risk_effects/bmi/index.rst
  docs/source/models/risk_effects/fpg/Mediation Notes.docx
  docs/source/models/risk_effects/fpg/index.rst
Labels: SE review required, CVD_project

#1352 Use `build.os` for RTD
  .readthedocs.yml
Labels: documentation clean up

#1298 Add description of employer name generation to concept model
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#1301 Update BLISS glossary
  docs/source/model_design/general_reference_material/bliss/inclusion_icon.png
  docs/source/model_design/general_reference_material/bliss/index.rst
  docs/source/model_design/general_reference_material/bliss/safe_space_icon.png
Labels: bliss

#1354 LBWSG and wasting transition strategy with placeholders
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_state_exposure/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_u6mos/index.rst
Labels: Vivarium modeling strategy, nutrition_optimization

#1355 V&V for Pregnancy Model 10
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1358 Location-specific CMAM coverage and efficacy parameters
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/04_South Asia_CMAM_EN.pdf
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
Labels: data, nutrition_optimization

#1353 Revamping CVD therapeutic inertia
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: SE review required, CVD_project

#1356 Add summary of SQLNS meta-analysis task to intervention page
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: nutrition_optimization

#1360 V&V from Child Model 9
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1362 Model 9.0.1 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1361 Placeholder strategy for "worse" MAM targeting
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
  docs/source/models/risk_effects/child_growth_failure/cgf_2021/index.rst
  docs/source/models/risk_exposures/child_growth_failure/underweight/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_state_exposure/index.rst
Labels: Vivarium modeling strategy, nutrition_optimization

#1363 Nutrition Optimization Child Model 10 run request
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1364 Add links to CGF calculations for Pakistan and Nigeria
  docs/source/models/risk_effects/child_growth_failure/cgf_2021/index.rst
  docs/source/models/risk_exposures/child_growth_failure/underweight/index.rst
Labels: nutrition_optimization

#1365 CVD updates: V&V, new run requests, change to LDL-C ladder
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/models/concept_models/vivarium_us_cvd/ldl_ramp_all.svg
Labels: SE review required, verification and validation tracking, CVD_project

#1369 Model run requests for child model 11 and 12
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1368 Add links to wasting transition rate csvs for Nigeria and Pakistan
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_state_exposure/index.rst
Labels: nutrition_optimization

#1371 BLISS measurement error section
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1375 Update pregnancy scenarios
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1373 Pulling data
  docs/source/model_design/vivarium_overview/data_sources/index.rst
Labels: meta modeling strategy

#1372 New CVD V&V Updates
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: verification and validation tracking, CVD_project

#1376 LBWSG->wasting equation fix
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_state_exposure/index.rst
Labels: update, nutrition_optimization

#1378 PRL: Update omit row noise
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: update, PRL_project

#1374 Adding outlines for 2 impairment pages
  docs/source/model_design/vivarium_model_components/GBD_disease_health/index.rst
  docs/source/model_design/vivarium_model_components/impairments/index.rst
  docs/source/model_design/vivarium_model_components/index.rst
Labels: meta modeling strategy

#1380 Updating seed count to use for the draw size runs
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: CVD_project

#1379 LBWSG on wasting effect update and run request
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_state_exposure/index.rst
Labels: update, data, nutrition_optimization

#1381 Notes about MAM substates
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_state_exposure/index.rst
Labels: nutrition_optimization

#1383 CVD Draw Count Analysis for Final Runs
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: CVD_project
