Repository ihmeuw/vivarium_research, pull requests merged in 2023-08, with the labels that each got.

#1294 PRL: Add middle name and event ID to SSA columns
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: update, PRL_project

#1255 Describe upstream data limitations in BLISS
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1289 PRL: Document noise function eligibility warnings
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: update, PRL_project

#1291 Adding duration limitation to Malaria
  docs/source/models/causes/malaria/index.rst
Labels: documentation clean up, nutrition_optimization

#1292 Wasting update
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_effects/child_growth_failure/cgf_2021/index.rst
  docs/source/models/risk_exposures/child_growth_failure/underweight/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
Labels: documentation clean up, nutrition_optimization

#1297 Add note about pregnancy adjustment factor random seed
  docs/source/models/other_models/hemoglobin_anemia_and_iron_deficiency/hemoglobin/index.rst
Labels: iv_iron_project, nutrition_optimization

#1300 CVD V&V updates for therapeutic inertia, new observer, and 51 location runs
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: CVD_project

#1299 N.O. pregnancy model 4 V&V summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1293 List of wasting tx intervention changes "exhaustive"
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
Labels: nutrition_optimization

#1304 Clarify reference groups for supplementation effects on stillbirths
  docs/source/models/intervention_models/maternal_supplementation/index.rst
Labels: documentation clean up, nutrition_optimization

#1302 Reflect negative ages after perturbation
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: SE review required, PRL_project

#1307 Updates to N.O. child model versions
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1308 Update background YLD strategy after discussing with Patrick
  docs/source/models/causes/other_causes/index.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1311 Adding emulator documentation
  docs/source/models/concept_models/vivarium_nutrition_optimization/concept_model.rst
Labels: nutrition_optimization

#1305 Interactive Sim Examples
  docs/source/model_design/designing_vivarium_model/interactive_sim/index.rst
  docs/source/model_design/designing_vivarium_model/interactive_sim/sankey-diagram.PNG
Labels: meta modeling strategy

#1306 Updating the BLISS in action section
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1310 N.O. child model update
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1303 Add notes about extrapolating to old ages
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#1312 PRL: Reorder dataset columns
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: update, PRL_project

#1314 Document updated wasting calibration
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/WASTING CALIBRATION.docx
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/calibration_transitions.svg
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/wasting_sim_transitions.png
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/wasting_state_1x4.csv
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/wasting_state_1x4.svg
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/wasting_state_1x4_death.csv
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/wasting_state_1x4_plus_death.svg
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/wasting_state_2x4.svg
Labels: Vivarium modeling strategy, update, nutrition_optimization

#1315 N.O. Child model 2 and 3 VV
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1316 Updating malaria prevalence to be based on incidence and duration
  docs/source/models/causes/malaria/index.rst
Labels: SE review required, nutrition_optimization
