Repository ihmeuw/vivarium_research, pull requests merged in 2023-09, with the labels that each got.

#1317 Updates to V&V for Nutrition Optimization Model 2
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_exposures/child_growth_failure/underweight/index.rst
Labels: verification and validation tracking, nutrition_optimization

#1318 V&V updates for Models 2-4
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_exposures/child_growth_failure/underweight/index.rst
Labels: SE review required, nutrition_optimization

#1309 N.O. pregnancy model 5-8 V&V summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1319 Remove neonatal age groups from malaria cause model
  docs/source/models/causes/malaria/index.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: Vivarium modeling strategy, update, nutrition_optimization

#1320 Fix wasting transition rate typo identified by Hussain
  docs/source/models/risk_attributable_causes/wasting/gbd_2020_transition_model/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
Labels: documentation clean up

#1322 Update malaria docs to reflect implemented strategy
  docs/source/models/causes/malaria/index.rst
Labels: Vivarium modeling strategy, update, nutrition_optimization

#1323 N.O. model 1, 2 and 4 updated V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1324 N.O. child model 6 V&V tracking
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1321 N.O. child model 5.0bugfix vv notes
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1325 Malaria model: Update transitions to zero for neonatal age groups
  docs/source/models/causes/malaria/index.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: update, nutrition_optimization

#1326 CGF data update from cat2/cat3 underweight mixup
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_effects/child_growth_failure/cgf_2021/index.rst
  docs/source/models/risk_exposures/child_growth_failure/underweight/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
Labels: update, data, nutrition_optimization

#1328 N.O. child model status
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1329 Updates to Model 2 and 4 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1330 V&V for Pregnancy BMI and Anemia to Birthweight
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1327 SQLNS effects update
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: Vivarium modeling strategy, nutrition_optimization

#1313 Updates to pregnancy other YLD cause model
  docs/source/models/causes/other_causes/index.rst
Labels: Vivarium modeling strategy, update, nutrition_optimization

#1331 N.O. pregnancy model 8.3 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1332 Updates from nutrition optimization RT/SE
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: documentation clean up, nutrition_optimization

#1333 Child model 4.0.2 and 3.0.3 v and v
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1335 N.O. child model 3.0.4
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1336 N.O. pregnancy production run request
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1337 N.O. child model 5 and 6 v&v update
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1338 Model 5.3, 7.0 VV and 7.0rerun request
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1339 N.O. child model 8 request updates
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1340 CVD SE Requests and Typos
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/models/risk_effects/bmi/index.rst
  docs/source/models/risk_effects/fpg/index.rst
Labels: SE review required, documentation clean up, CVD_project

#1341 Child model 8 notes
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1342 N.O. child model 8.0.1 V&V checks
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1344 Child model population size conclusion
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1343 Common challenges in the interactive sim
  docs/source/model_design/designing_vivarium_model/interactive_sim/index.rst
Labels: meta modeling strategy

#1348 Observers for Nigeria and Pakistan V&V run
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1347 Updated BMI links for Pakistan
  docs/source/models/risk_exposures/maternal_bmi_hgb/index.rst
Labels: data

#1350 Adding Joint PAF link to risk effect pages
  docs/source/models/risk_effects/bmi/index.rst
  docs/source/models/risk_effects/fpg/index.rst
  docs/source/models/risk_effects/ldl/index.rst
  docs/source/models/risk_effects/sbp/index.rst
Labels: documentation clean up, CVD_project
