Repository ihmeuw/vivarium_research, pull requests merged in 2023-07, with the labels that each got.

#1236 Update outdated pregnancy doc reference to hemoglobin exposure
  docs/source/models/other_models/pregnancy/gbd_2021_closed_cohort/index.rst
Labels: documentation clean up, nutrition_optimization

#1240 Sex ratio at birth
  docs/source/models/other_models/pregnancy/gbd_2021_closed_cohort/index.rst
Labels: nutrition_optimization

#1237 Add reviewer suggested edits to BLISS style guide
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1238 Misc. pregnancy model updates from rt/se
  docs/source/models/causes/maternal_disorders/gbd_2021/index.rst
  docs/source/models/causes/maternal_hemorrhage_incidence/index.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
  docs/source/models/other_models/pregnancy/gbd_2021_closed_cohort/index.rst
Labels: nutrition_optimization

#1241 Ensemble distribution gbd and vivarium comparisons, XMIN and XMAX
  docs/source/model_design/general_reference_material/ensemble_distributions/index.rst
  docs/source/models/templates/risk_exposure_template.rst
Labels: meta modeling strategy

#1244 Pregnancy model 1.2 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1242 Add format of survey date, cite sources
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#1247 Restructuring risk exposure page so that CGF risks are grouped together
  docs/source/models/risk_exposures/child_growth_failure/index.rst
  docs/source/models/risk_exposures/child_growth_failure/stunting/child_stunting_risk_hierarchy.svg
  docs/source/models/risk_exposures/child_growth_failure/stunting/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/wasting_diagram_with_treatment.svg
Labels: documentation clean up

#1246 Changing therapeutic inertia rules
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: SE review required, CVD_project

#1245 Documentation of maternal disorders YLDs modeling strategy rationale
  docs/source/models/causes/maternal_disorders/gbd_2021/index.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
  docs/source/models/other_models/pregnancy/gbd_2021_closed_cohort/index.rst
Labels: research background, documentation clean up, nutrition_optimization

#1204 Nutrition optimization pregnancy model notes and outstanding questions
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1249 Underweight risk exposure doc (still waiting on final values)
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_exposures/child_growth_failure/underweight/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
Labels: Vivarium modeling strategy, nutrition_optimization

#1250 Pregnancy model: update current task status and add all links to submodel table
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1251 N.O. child model: remove task tracking tables and add link to excel file instead
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: documentation clean up, nutrition_optimization

#1253 Add to-do notes for anticipated wasting exposure model changes
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
Labels: nutrition_optimization

#1254 Update to combined protocol wasting intervention parameters
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
Labels: nutrition_optimization

#1257 Add malaria cause to wasting exposure model calibration
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
Labels: nutrition_optimization

#1256 Add intro paragraph to section 1.0 in BLISS style guide
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1259 Guiding principles for BLISS
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1265 Adding the malaria cause model
  docs/source/models/causes/malaria/index.rst
  docs/source/models/causes/malaria/malaria_cause_hierarchy.svg
  docs/source/models/causes/malaria/malaria_cause_model.svg
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1267 Documenting V&V CVD issues
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: CVD_project

#1268 Fixing therapeutic inertia error
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: CVD_project

#1266 Interactive sim setup section
  docs/source/model_design/designing_vivarium_model/interactive_sim/index.rst
Labels: meta modeling strategy

#1274 Static wasting model for u6mos
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
Labels: nutrition_optimization

#1273 Wasting assumptions/limitations update
  docs/source/models/risk_exposures/child_growth_failure/wasting_state_exposure/index.rst
Labels: nutrition_optimization

#1275 Explain how age groups work for hybrid 2019 and 2021 rounds
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1279 Updating SBP inertia to include treatment progression
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: CVD_project

#1269 Adding CGF risk effects
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_effects/child_growth_failure/cgf_2021/cgf_risks_math.docx
  docs/source/models/risk_effects/child_growth_failure/cgf_2021/index.rst
  docs/source/models/risk_effects/child_growth_failure/index.rst
  docs/source/models/risk_effects/child_growth_failure/wasting_2019/index.rst
Labels: nutrition_optimization

#1280 Update concept model to reflect current 1040 implementation
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#1278 N.O. pregnancy model 2.0 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1263 Get started with 'what is vivarium good for?' page
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/index.rst
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_example_table.PNG
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_example_table_2.PNG
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_visual.PNG
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_visual_with_text.PNG
Labels: meta modeling strategy

#1270 N.O. child model version proposal
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1277 Child outputs and V&V plan
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1281 N.O pregnancy model 2.1 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
  docs/source/models/other_models/pregnancy/gbd_2021_closed_cohort/index.rst
Labels: verification and validation tracking, nutrition_optimization

#1282 N.O. child model notes and reminders
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
Labels: nutrition_optimization

#1283 Link to baseline parameters, no E_MAM or E_SAM variance by scenario
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
Labels: nutrition_optimization

#1288 SQLNS distribution checks
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: nutrition_optimization

#1284 Updating LDL-C Treatment Pathway
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
  docs/source/models/concept_models/vivarium_us_cvd/ldl_ramp_all.svg
Labels: SE review required, CVD_project

#1286 Updating the mediation math for CVD
  docs/source/models/risk_effects/bmi/heart_failure_MF.csv
  docs/source/models/risk_effects/bmi/index.rst
  docs/source/models/risk_effects/fpg/index.rst
Labels: CVD_project

#1287 PRL: Update columns in census and ACS
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: update, PRL_project

#1206 Document WIC-specific identifiers
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: SE review required, PRL_project
