Repository ihmeuw/vivarium_research, pull requests merged in 2023-12, with the labels that each got.

#1410 Update to model 11.1 V&V summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1411 State medication variation at initialization only
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: CVD_project

#1416 Update to time to recovery parameter values
  docs/source/models/intervention_models/wasting_treatment/compas_trial_wasting_treatment/index.rst
Labels: update, data, nutrition_optimization

#1413 MMS effect size update
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/intervention_models/maternal_supplementation/index.rst
Labels: update, data, nutrition_optimization

#1415 Update to model 11.1 V&V log
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1419 Model 11.2 v and v summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1412 CVD timing test runs
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: SE review required, CVD_project

#1422 MAM substate data
  docs/source/models/risk_effects/child_growth_failure/cgf_2021/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_state_exposure/index.rst
Labels: update, data, nutrition_optimization

#1426 N.O. 12.1vv
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1417 Adding GBD methods to BLISS
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1418 Adding figures to BLISS guide
  docs/source/model_design/general_reference_material/bliss/bliss_data_sources_fig.png
  docs/source/model_design/general_reference_material/bliss/bliss_data_sources_fig_2.png
  docs/source/model_design/general_reference_material/bliss/bliss_proxy_fig.png
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1427 Adding the stillbirth assumptions to docs
  docs/source/models/concept_models/vivarium_nutrition_optimization/concept_model.rst
Labels: nutrition_optimization

#1428 CVD V&V and observer updates
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: verification and validation tracking, CVD_project

#1429 Add sentence describing the differences between tax forms in PRL concept model
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#1430 V&V for MMS to gestational age
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1432 12.1.1 V&V summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1437 Update targeted BEP/IFA scenario cov
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1435 Nutrition optimization V&V MMS effect and observer update
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1436 Nutrition optimization production run request
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1433 Adding new V&V for state level med variation
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: verification and validation tracking, CVD_project

#1438 Add to BLISS "Recommended Resources" list
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1424 Document a flexible way to configure simulations
  docs/source/model_design/designing_vivarium_model/interactive_sim/index.rst
Labels: Vivarium modeling strategy

#1434 Add examples from previous work to 'Advantages of Microsimulation' docs section
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/MM_graph_time_varying_rates.jpg
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/index.rst
  docs/source/models/causes/neoplasms/multiple_myeloma/gbd_2019_phase_2/cancer_model.rst
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: meta modeling strategy
