Repository ihmeuw/vivarium_research, pull requests merged in 2023-06, with the labels that each got.

#1203 Update scenarios to exclude IFA scale-ups
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1191 default vivarium como behavior proposal
  docs/source/model_design/vivarium_features/other_causes_ylds/index.rst
Labels: meta modeling strategy

#1205 Don't copy within household for SSN in W2 dataset
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: SE review required, PRL_project

#1208 Add number of draws to pregnancy sim specification table
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1209 Model run request for emulator test data, but with more draws and 100% max coverage
  docs/source/models/concept_models/vivarium_wasting_paper/concept_model.rst
Labels: wasting_paper, nutrition_optimization

#1181 Document V&V, automated V&V, and fuzzy checking
  docs/source/model_design/designing_vivarium_model/results_processing_steps/index.rst
  docs/source/model_design/vivarium_features/automated_v_and_v/PPV,_NPV,_Sensitivity_and_Specificity.svg
  docs/source/model_design/vivarium_features/automated_v_and_v/index.rst
Labels: meta modeling strategy

#1210 Preg model 0.0 v and v
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1212 Clarify pregnancy-related notes as discussed with engineers
  docs/source/model_design/vivarium_model_components/causes/index.rst
  docs/source/models/other_models/pregnancy/gbd_2019/index.rst
  docs/source/models/other_models/pregnancy/gbd_2021_closed_cohort/index.rst
  docs/source/models/other_models/pregnancy_demography/index.rst
Labels: nutrition_optimization

#1211 Bash files for computing resources
  docs/source/onboarding_resources/computing/index.rst
Labels: meta modeling strategy

#1216 Pregnancy model versions table
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1217 Updating medication cutoffs for LDL-C
  docs/source/models/concept_models/vivarium_us_cvd/ldl_ramp_all.svg
Labels: SE review required, CVD_project

#1218 Pregnancy model 0.1 v and v tracking
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1207 Create updated concept model template
  docs/source/models/templates/concept_model_template.rst
Labels: meta modeling strategy

#1219 Nutrition optimization child concept model doc basics
  docs/source/models/concept_models/vivarium_nutrition_optimization/concept_model.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/nutrition_optimization_child_concept_model.drawio
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/nutrition_optimization_child_concept_model.svg
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: Vivarium modeling strategy, nutrition_optimization

#1220 N.O. child subcomponents and required updates, wave I/II proposals
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1221 N.O. outstanding pregnancy model tasks
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1224 N.O. pregnancy model 1.0 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1225 Fix to pregnancy intervention maximum coverage levels
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1223 N.O. child sim computational resource scoping notes
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/timestep scaling.xlsx
Labels: nutrition_optimization

#1194 PRL: update guardian-based duplication
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: update, PRL_project

#1227 Selecting a single draw for CVD runs
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: CVD_project

#1229 Update pregnancy model run descriptions and output requests
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1226 Nutrition optimization project aims and overview
  docs/source/models/concept_models/vivarium_nutrition_optimization/concept_model.rst
Labels: Vivarium modeling strategy, nutrition_optimization

#1222 Adding some links and clarifications to the contributing new documentation section
  docs/source/onboarding_resources/contributing/index.rst
Labels: meta modeling strategy

#1230 N.O child task tracking assignments
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1232 Update README.rst to have link to contributing page
  README.rst
Labels: meta modeling strategy

#1231 Adding to-do list for costing and emulator
  docs/source/models/concept_models/vivarium_nutrition_optimization/concept_model.rst
Labels: nutrition_optimization

#1234 Add sex to SSA observer in concept model
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: update, PRL_project

#1235 PRL: Remove age and DOB from tax forms
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: update, PRL_project
