Repository ihmeuw/vivarium_research, pull requests merged in 2023-11, with the labels that each got.

#1385 Doc clean up from RT/SE check-in
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: documentation clean up, nutrition_optimization

#902 MM cause model V&V criteria
  docs/source/models/causes/neoplasms/multiple_myeloma/gbd_2019_phase_2/cancer_model.rst
Labels: MM_project

#908 Document MM multiplier
  docs/source/models/causes/neoplasms/multiple_myeloma/gbd_2019_phase_2/cancer_model.rst
Labels: MM_project

#1359 First draft of BLISS results section
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1387 NO child model 10.1 and 11.0 V&V summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1384 Add example tables to 'What is vivarium good for?'
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/index.rst
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_example_table.PNG
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_example_table_2.PNG
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_example_table_3.png
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_example_table_4.PNG
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_example_tables_editable.pptx
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/microsim_visual_with_text.PNG
Labels: meta modeling strategy

#1382 Document a Bayesian approach to automated V&V
  docs/source/model_design/vivarium_features/automated_v_and_v/index.rst
Labels: meta modeling strategy

#1386 Adding discontinuation to CVD
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: SE review required, CVD_project

#1390 Model 10.2 V&V summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1392 Add note about updated LBWSG PAF calculation
  docs/source/models/risk_effects/low_birthweight_short_gestation/index.rst
Labels: nutrition_optimization

#1393 Adding additional polypill dosing details
  docs/source/models/intervention_models/crm_mgmt/vivarium_polypill.rst
Labels: documentation clean up, CVD_project

#1395 Timestep rules
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: Vivarium modeling strategy, nutrition_optimization

#1396 Fix a broken link on the V&V page
  docs/source/model_design/designing_vivarium_model/results_processing_steps/index.rst
Labels: documentation clean up

#1397 Model 10.3 V&V summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1401 Discontinuation language clarification
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: documentation clean up, CVD_project

#1399 Add table of contents and audience intro to BLISS page
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1402 NO Child model 10.3.1 and 11.1 V&V summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1400 Expanded nutrition optimization timestep rules
  docs/source/models/causes/diarrheal_diseases/gbd_2019/index.rst
  docs/source/models/causes/lower_respiratory_infections/gbd_2019/index.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: Vivarium modeling strategy, nutrition_optimization

#1405 Population size for LBWSG PAF calculation
  docs/source/models/risk_effects/low_birthweight_short_gestation/index.rst
Labels: nutrition_optimization

#1404 2021 data availability update
  docs/source/models/concept_models/vivarium_nutrition_optimization/concept_model.rst
Labels: data, nutrition_optimization

#1398 Adding GBD health and disease definition page
  docs/source/model_design/vivarium_model_components/GBD_disease_health/cause_hierarchy_hhd.svg
  docs/source/model_design/vivarium_model_components/GBD_disease_health/cause_hierarchy_ihd.svg
  docs/source/model_design/vivarium_model_components/GBD_disease_health/cause_hierarchy_ihd_hhd.svg
  docs/source/model_design/vivarium_model_components/GBD_disease_health/health_state_impairment_sequela.svg
  docs/source/model_design/vivarium_model_components/GBD_disease_health/index.rst
Labels: meta modeling strategy

#1406 V&V for CVD discontinuation
  docs/source/models/concept_models/vivarium_us_cvd/concept_model.rst
Labels: verification and validation tracking, CVD_project

#1407 Reformat BLISS style guide and create 'Knowledge Share' section
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1408 Draft introduction to science of sex and gender
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1403 Update wasting transition rate values
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_state_exposure/index.rst
Labels: update, data, nutrition_optimization

#1389 Add more about how to interpret hypotheses
  docs/source/model_design/vivarium_features/automated_v_and_v/index.rst
Labels: meta modeling strategy

#1409 N.O. child model 12 vv
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization
