Repository ihmeuw/vivarium_research, pull requests merged in 2024-05, with the labels that each got.

#1494 BLISS race and ethnicity research consideration section
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
Labels: bliss

#1493 Add TOC back into sex/gender guide
  docs/source/model_design/general_reference_material/bliss/sex_gender/index.rst
Labels: bliss

#1495 Adding example with photos to debugging doc
  docs/source/model_design/programming_vivarium/artifact_building/index.rst
  docs/source/model_design/programming_vivarium/debugging/adding_breakpoint.png
  docs/source/model_design/programming_vivarium/debugging/index.rst
  docs/source/model_design/programming_vivarium/debugging/initial_error_code.png
  docs/source/model_design/programming_vivarium/debugging/ll_printout.png
  docs/source/model_design/programming_vivarium/debugging/sbr_printout.png
  docs/source/model_design/programming_vivarium/debugging/stacktrace_1.png
  docs/source/model_design/programming_vivarium/debugging/stacktrace_2.png
  docs/source/model_design/programming_vivarium/debugging/u_printout.png
Labels: Vivarium modeling strategy

#1431 Document mediation approaches
  docs/source/model_design/general_reference_material/casual_diagrams/index.rst
  docs/source/model_design/vivarium_model_components/risk_factors/risk_correlation/index.rst
  docs/source/model_design/vivarium_model_components/risk_factors/risk_mediation/bmi-sbp-mediation.drawio.svg
  docs/source/model_design/vivarium_model_components/risk_factors/risk_mediation/index.rst
  docs/source/model_design/vivarium_model_components/risk_factors/risk_mediation/mediation-complex.drawio.svg
  docs/source/model_design/vivarium_model_components/risk_factors/risk_mediation/mediation-with-confounder.drawio.svg
  docs/source/model_design/vivarium_model_components/risk_factors/risk_mediation/mediation.drawio.svg
  docs/source/model_design/vivarium_model_components/risk_factors/risk_mediation/necessary-mediator.drawio.svg
  docs/source/model_design/vivarium_model_components/risk_factors/risk_mediation/unnecessary-mediator.drawio.svg
  docs/source/model_design/vivarium_model_components/risk_factors/risk_mediation/unnecessary-mediators.drawio.svg
Labels: meta modeling strategy

#1497 Add notes about get_measures
  docs/source/model_design/vivarium_overview/data_sources/index.rst
Labels: meta modeling strategy

#1496 Start Docs for MNCNH Portfolio Project
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1499 MNCH Subnational Ethiopia Model 14 V&V and New Run Requests
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: MNCH_project, verification and validation tracking
