Repository ihmeuw/vivarium_research, pull requests merged in 2024-04, with the labels that each got.

#1479 Adding make results page
  docs/source/model_design/programming_vivarium/make_results/index.rst
  docs/source/model_design/programming_vivarium/overview_engineering_files/index.rst
Labels: Vivarium modeling strategy, meta modeling strategy

#1482 Modeling "common changes" section
  docs/source/model_design/programming_vivarium/common_model_changes/index.rst
  docs/source/model_design/programming_vivarium/make_results/index.rst
Labels: Vivarium modeling strategy, meta modeling strategy

#1478 Running Simulations Page
  docs/source/model_design/programming_vivarium/running_simulations/index.rst
Labels: Vivarium modeling strategy, meta modeling strategy

#1483 Add outline and remaining todos for microsim lit review writeup
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/hemoglobin_plot.png
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/index.rst
Labels: meta modeling strategy

#1486 Confirm that XMIN and XMAX values do not affect distribution means
  docs/source/model_design/general_reference_material/ensemble_distributions/index.rst
Labels: meta modeling strategy

#1475 PSP: Current strategy for metadata file for user warnings
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: Vivarium modeling strategy, update, PRL_project

#1484 How to handle race/ethnicity categories
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
Labels: bliss

#1487 Narrative overview of x-factor model and link to calibration notebook
  docs/source/models/risk_effects/x_factor/index.rst
Labels: documentation clean up

#1488 13.1 sqlns rerun request
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: update, data, nutrition_optimization

#1490 Updating the Child 2021 V&V and requesting PEM runs formally
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1491 Updating the MAM subcategory exposure info
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/risk_effects/child_growth_failure/cgf_2021/index.rst
  docs/source/models/risk_exposures/child_growth_failure/wasting/wasting_state_exposure/index.rst
Labels: nutrition_optimization

#1489 Writing debugging page
  docs/source/model_design/programming_vivarium/debugging/index.rst
Labels: Vivarium modeling strategy, meta modeling strategy
