Repository ihmeuw/vivarium_research, pull requests merged in 2024-09, with the labels that each got.

#1528 Removing delivery facility to maternal disorders arrow
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_decision_tree_vr.svg
  docs/source/models/concept_models/vivarium_mncnh_portfolio/wave_1_full.svg
Labels: documentation clean up, MNCNH_portfolio

#1527 Updating SQ-LNS targeting approach for Model 18
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/ethiopia.png
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/index.rst
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/nigeria.png
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/pakistan.png
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/sqlns_targeting_fig.png
Labels: MNCH_project

#1526 Adding specs for production runs
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: MNCH_project

#1524 Adding updated pregnancy model
  docs/source/models/other_models/pregnancy/gbd_2021_mncnh/diagram.svg
  docs/source/models/other_models/pregnancy/gbd_2021_mncnh/index.rst
Labels: Vivarium modeling strategy, MNCNH_portfolio

#1525 Updating the pregnancy concept model page and changing to LBW
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_decision_tree_vr.svg
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_decision_tree_vr.svg
  docs/source/models/concept_models/vivarium_mncnh_portfolio/wave_1_full.svg
  docs/source/models/other_models/pregnancy/gbd_2021_mncnh/index.rst
Labels: Vivarium modeling strategy, MNCNH_portfolio

#1530 Accidental duplicate MNCNH PR
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_decision_tree_vr.svg
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_decision_tree_vr.svg
  docs/source/models/concept_models/vivarium_mncnh_portfolio/wave_1_full.svg
  docs/source/models/other_models/pregnancy/gbd_2021_mncnh/index.rst
Labels: documentation clean up

#1531 Update ultrasound utilization rates to be country-specific
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1532 Update intrapartum concept model
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1533 Update intrapartum concept model (part 2)
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1534 Update intrapartum concept model diagram
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_decision_tree_vr.svg
Labels: MNCNH_portfolio

#1535 Update intrapartum concept model inputs
  docs/source/models/concept_models/index.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio
