Repository ihmeuw/vivarium_research, pull requests merged in 2024-03, with the labels that each got.

#1451 Adding general subnational approach information
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1454 Adding targeted SQ-LNS wave 3 model run specs
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1456 Update SQ-LNS targeting docs
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: nutrition_optimization

#1455 Add a caveat to our results indicator abbreviation section that there are exceptions
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1458 Fix merging error - scenario approach for targeted SQ-LNS
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/timestep scaling.xlsx
Labels: documentation clean up, nutrition_optimization

#1459 Changing sex identity to self-reported sex in BLISS guide
  docs/source/model_design/general_reference_material/bliss/bliss_data_sources_fig.png
  docs/source/model_design/general_reference_material/bliss/bliss_data_sources_fig_2.png
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1457 Adding GBD 2021 updates to pregnancy model runs
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: nutrition_optimization

#1460 Small updates from MNCH concept model meeting
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: documentation clean up, nutrition_optimization

#1462 DHS CGF correlation data will be national
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: nutrition_optimization

#1461 Reorganize BLISS section to have both the sex/gender and race/ethnicity guide, set up very rough outline of race/ethnicity guide
  docs/source/model_design/general_reference_material/bliss/index.rst
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
  docs/source/model_design/general_reference_material/bliss/sex_gender/bliss_data_sources_fig.png
  docs/source/model_design/general_reference_material/bliss/sex_gender/bliss_data_sources_fig_2.png
  docs/source/model_design/general_reference_material/bliss/sex_gender/bliss_proxy_fig.png
  docs/source/model_design/general_reference_material/bliss/sex_gender/index.rst
  docs/source/model_design/general_reference_material/bliss/sex_gender/safe_space_icon.png
Labels: bliss

#1463 psp: Clarify behavior of copying household member's SSN
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#1465 psp: Clarifications for guardian-based duplication
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#1464 Update the order that noises are applied in PRL concept model
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#1466 psp: Add warning about sorting census rows
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: PRL_project

#1467 Fix typos in outline for race and ethnicity guide
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
Labels: bliss

#1469 Preg model 11 vv summary
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1470 Update versioning of child model for wave III
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: documentation clean up, nutrition_optimization

#1471 Creating page on engineering files
  docs/source/model_design/programming_vivarium/overview_engineering_files/index.rst
Labels: Vivarium modeling strategy, meta modeling strategy

#1377 Edit Vivarium components index
  docs/source/model_design/vivarium_model_components/causes/index.rst
  docs/source/model_design/vivarium_model_components/impairments/index.rst
  docs/source/model_design/vivarium_model_components/index.rst
  docs/source/model_design/vivarium_model_components/interventions/index.rst
  docs/source/model_design/vivarium_model_components/risk_factors/index.rst
Labels: documentation clean up

#1474 Merge 'Interventions critical features' page into 'Interventions' page
  docs/source/model_design/vivarium_model_components/index.rst
  docs/source/model_design/vivarium_model_components/intervention_features/index.rst
  docs/source/model_design/vivarium_model_components/interventions/index.rst
Labels: documentation clean up

#1472 Adding doc on model archiving
  docs/source/model_design/programming_vivarium/archiving_models/index.rst
  docs/source/model_design/programming_vivarium/overview_engineering_files/index.rst
Labels: Vivarium modeling strategy, meta modeling strategy

#1473 Artifact building page
  docs/source/model_design/programming_vivarium/artifact_building/index.rst
Labels: Vivarium modeling strategy, meta modeling strategy

#1476 NO pregnancy model 11.1 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1481 NO pregnancy model 11.2 observer V&V update
  docs/source/models/concept_models/vivarium_nutrition_optimization/pregnancies/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization
