Repository ihmeuw/vivarium_research, pull requests merged in 2024-11, with the labels that each got.

#1543 MNCNH: Maternal sepsis scope and Vivarium strategy
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/maternal_sepsis.rst
Labels: MNCNH_portfolio

#1544 Add graphviz extension
  .github/workflows/build.yml
  .readthedocs.yml
  docs/source/conf.py
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/maternal_sepsis.rst
Labels: infrastructure, MNCNH_portfolio

#1546 MNCNH: maternal sepsis decision graph
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/maternal_sepsis.rst
Labels: SE review required, MNCNH_portfolio

#1547 MNCNH: Maternal sepsis data table
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/maternal_sepsis.rst
Labels: SE review required, MNCNH_portfolio

#1549 MNCNH: Maternal sepsis cause hierarchy & restrictions
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/maternal_sepsis.rst
Labels: MNCNH_portfolio

#1548 MNCNH: Maternal sepsis burden
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/maternal_sepsis.rst
Labels: MNCNH_portfolio

#1551 Adding backlog ticket links to to-dos
  docs/source/model_design/vivarium_model_components/risk_factors/residual_confounding/index.rst
  docs/source/model_design/vivarium_model_components/risk_factors/risk_effects/index.rst
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/index.rst
Labels: documentation clean up

#1552 Add GBD cause hierarchy and restrictions for obstructed labor
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/obstructed_labor.rst
Labels: MNCNH_portfolio

#1556 MNCNH: Add section headers for modeling multiple maternal disorders together
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/index.rst
Labels: documentation clean up, MNCNH_portfolio

#1555 MNCNH: Maternal disorders cause hierarchy & subcause definitions
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/index.rst
Labels: GBD modeling strategy, MNCNH_portfolio

#1557 MNCNH: Maternal disorders ordering
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/index.rst
Labels: Vivarium modeling strategy, SE review required, MNCNH_portfolio

#1558 Add Data Tables section to OL docs
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/obstructed_labor.rst
Labels: MNCNH_portfolio

#1559 MNCNH obstructed labor Calculating Burden section
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/obstructed_labor.rst
Labels: MNCNH_portfolio

#1560 Update validation criteria section for OL and uterine rupture
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/obstructed_labor.rst
Labels: MNCNH_portfolio
