Repository ihmeuw/vivarium_research, pull requests merged in 2024-10, with the labels that each got.

#1538 MNCNH V&V draw and seed count
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1537 Remove LBW as a risk factor in pregnancy model
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_decision_tree_vr.svg
Labels: MNCNH_portfolio

#1492 Race and ethnicity introduction
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
Labels: bliss

#1536 Write page for open vs. closed Vivarium cohorts
  docs/source/model_design/designing_vivarium_model/closed_versus_open_model_cohorts/index.rst
Labels: meta modeling strategy

#1539 MNCNH V&V and observer output tables
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1540 MNCNH: Add pregnancy outcomes to pregnancy page
  docs/source/models/other_models/pregnancy/gbd_2021_mncnh/index.rst
Labels: MNCNH_portfolio

#1498 Write draft of communication of results section for R/E guide
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
Labels: bliss

#1542 MNCNH: Create page structure for maternal disorders
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/index.rst
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/maternal_hemorrhage.rst
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/maternal_sepsis.rst
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/obstructed_labor.rst
  docs/source/models/causes/maternal_disorders/index.rst
Labels: MNCNH_portfolio
