Repository ihmeuw/vivarium_research, pull requests merged in 2024-02, with the labels that each got.

#1443 Adding section about political aspects of language to BLISS
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1445 Adding modeling impairments page
  docs/source/model_design/vivarium_model_components/impairments/index.rst
Labels: Vivarium modeling strategy

#1446 Add section on research considerations before following our BLISS guide
  docs/source/model_design/general_reference_material/bliss/index.rst
Labels: bliss

#1447 Updating the causes as risks section in impairments
  docs/source/model_design/vivarium_model_components/impairments/impairment_cause_as_risk.png
  docs/source/model_design/vivarium_model_components/impairments/index.rst
Labels: Vivarium modeling strategy, meta modeling strategy

#1449 Adding link to cause model page
  docs/source/model_design/vivarium_model_components/causes/index.rst
Labels: documentation clean up

#1452 Adding newest, cleaned emulator version
  docs/source/models/concept_models/vivarium_nutrition_optimization/concept_model.rst
Labels: documentation clean up, nutrition_optimization

#1448 Add overview of vivarium inputs to data pulling page
  docs/source/model_design/vivarium_overview/data_sources/index.rst
Labels: meta modeling strategy
