Repository ihmeuw/vivarium_research, pull requests merged in 2024-07, with the labels that each got.

#1507 BLISS Section 1.1 on Research Question
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/ancestry_corr_v1.svg
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/ancestry_v1.svg
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/big_diagram_v1.svg
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/ethnicity_a_v1.svg
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/ethnicity_b_v1.svg
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/ethnicity_v1.svg
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/race_a_v1.svg
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/race_b_v1.svg
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/race_v1.svg
Labels: bliss

#1510 SQ-LNS targeting plan
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: MNCH_project, nutrition_optimization

#1511 Model 14.2 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1512 Updating some scenarios and runs to clarify
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: documentation clean up, nutrition_optimization

#1513 Updates following SQLNS effect modification data generation
  docs/source/models/intervention_models/lipid_based_nutrient_supplements/index.rst
Labels: documentation clean up, nutrition_optimization

#1515 Model 15 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1516 Model 16 V&V
  docs/source/models/concept_models/vivarium_nutrition_optimization/kids/concept_model.rst
Labels: verification and validation tracking, nutrition_optimization

#1514 Write up microsim lit review findings
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/cause_model_diagram_mm.svg
  docs/source/model_design/vivarium_overview/vivarium_versus_other_model_types/index.rst
Labels: meta modeling strategy
