Repository ihmeuw/vivarium_research, pull requests merged in 2025-10, with the labels that each got.

#1800 Alzheimer's Model 5 (use AD proportion of GBD 2023 dementia envelope)
  docs/source/model_design/vivarium_model_components/causes/index.rst
  docs/source/models/causes/alzheimers/presymptomatic_and_mci_gbd_2021/index.rst
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
  docs/source/models/other_models/alzheimers_population/index.rst
Labels: Vivarium modeling strategy, update, data, Alzheimers_sim

#1802 MNCNH model 17.0 update
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: documentation clean up, MNCNH_portfolio

#1803 Clarify baseline IFA parameters and general docs clean up
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
  docs/source/models/intervention_models/mncnh_pregnancy/oral_iron_antenatal/oral_iron_antenatal.rst
Labels: documentation clean up, MNCNH_portfolio

#1805 MNCNH model 18.3 observer update
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1806 MNCNH model run updates for GBD 2023
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio
