Repository ihmeuw/vivarium_research, pull requests merged in 2025-08, with the labels that each got.

#1727 MNCNH model 13.0 vv and 13.1 request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1729 Model 13.2 run request
  docs/source/models/causes/neonatal/index.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1728 Create Alzheimers concept model
  docs/source/models/causes/alzheimers/index.rst
  docs/source/models/concept_models/index.rst
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
  docs/source/models/intervention_models/alzheimers/hypothetical_treatment.rst
  docs/source/models/intervention_models/alzheimers/index.rst
  docs/source/models/intervention_models/alzheimers/testing_diagnosis.rst
  docs/source/models/other_models/alzheimers_population/index.rst
Labels: template, Alzheimers_sim

#1730 Alzheimers: Model 1.0 with simple SI cause model
  docs/source/models/causes/alzheimers/index.rst
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
Labels: Vivarium modeling strategy, SE review required, Alzheimers_sim

#1734 Update hemoglobin diagram and corresponding table
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/hemoglobin_component.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
Labels: MNCNH_portfolio

#1741 Alzheimer's model 2 (population model)
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
  docs/source/models/other_models/alzheimers_population/index.rst
Labels: Vivarium modeling strategy, SE review required, Alzheimers_sim

#1746 Model 1 V&V for Alzheimer's
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
Labels: SE review required, verification and validation tracking, Alzheimers_sim

#1747 Model 2.1 run request and model 2 V&V
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
Labels: SE review required, verification and validation tracking, Alzheimers_sim

#1745 Document forecast data for Model 3
  docs/source/model_design/vivarium_model_components/causes/index.rst
  docs/source/models/causes/alzheimers/index.rst
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
  docs/source/models/other_models/alzheimers_population/index.rst
Labels: SE review required, Alzheimers_sim

#1739 Update results section recommendations in race/ethnicity guide
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
Labels: bliss

#1750 Model 2.1 V&V and model 2.2 request
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
Labels: SE review required, verification and validation tracking, Alzheimers_sim

#1744 Add model 13.3 V&V results to table
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1743 Provide more intro/framing in MNCNH concept model doc
  docs/source/conf.py
  docs/source/models/concept_models/vivarium_mncnh_portfolio/component_flow_diagram.drawio.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/component_overview_diagram.drawio.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: documentation clean up, MNCNH_portfolio

#1733 Update IV iron intervention docs (baseline coverage and effect size)
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/intervention_models/mncnh_pregnancy/iv_iron_antenatal/iv_iron_mncnh.rst
Labels: MNCNH_portfolio

#1751 Add limitation to concept model docs about not modeling oral iron treatment
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1752 Model 2.2 V&V + Some table updates
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
Labels: SE review required, verification and validation tracking, Alzheimers_sim

#1755 Alzheimer's: Start Model 4 cause model docs
  docs/source/models/causes/alzheimers/dementia_si_model_gbd_2021/index.rst
  docs/source/models/causes/alzheimers/index.rst
  docs/source/models/causes/alzheimers/presymptomatic_and_mci_gbd_2021/index.rst
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
Labels: template, Vivarium modeling strategy, Alzheimers_sim

#1756 Hemoglobin module doc clean-up
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
Labels: documentation clean up, MNCNH_portfolio

#1753 Iron intervention model run requests
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1763 MNCNH 15.0 (facility choice model) V&V
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio
