Repository ihmeuw/vivarium_research, pull requests merged in 2025-06, with the labels that each got.

#1665 Research summary and todo notes to update modeling strategy
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/intervention_models/neonatal/antibiotics_intervention.rst
Labels: MNCNH_portfolio

#1671 First pass LBWSG RR cap docs and model 8.1 request
  docs/source/models/causes/neonatal/index.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: Vivarium modeling strategy, MNCNH_portfolio

#1673 Update azithromycin intervention uncertainty interval (for model 8.0)
  docs/source/models/intervention_models/intrapartum/azithromycin_intervention.rst
Labels: update, SE review required, data, MNCNH_portfolio

#1670 Update neonatal antibiotics modeling strategy
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/intervention_models/neonatal/antibiotics_intervention.rst
Labels: Vivarium modeling strategy, update, MNCNH_portfolio

#1669 MNCNH model 7.1.1 vv
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1672 Update probiotics intervention effect size and model 8.2 run request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/intervention_models/neonatal/probiotics_intervention.rst
Labels: MNCNH_portfolio

#1678 Fix antibiotics PAF equation
  docs/source/models/intervention_models/neonatal/antibiotics_intervention.rst
Labels: documentation clean up, MNCNH_portfolio

#1680 MNCNH wave II run requests (10.0 and 11.0)
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/postpartum_depression.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1679 model 8.2-9.3 vv summary, 9.1-9.3 run requests
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1687 Fix to baseline IFA coverage calibration instructions
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/hemoglobin_component.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_module/module_document.rst
Labels: MNCNH_portfolio

#1686 MNCNH model 10.1 run request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1681 LBWSG RR capping and PAF calculation updates + Model run request
  docs/source/models/causes/neonatal/index.rst
  docs/source/models/causes/neonatal/preterm_birth.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: Vivarium modeling strategy, update, MNCNH_portfolio

#1682 PPD DW uncertainty clarification
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/postpartum_depression.rst
Labels: documentation clean up, MNCNH_portfolio

#1683 Anemia YLD module
  docs/source/models/concept_models/vivarium_mncnh_portfolio/anemia_component/anemia_ylds_module_diagram.drawio
  docs/source/models/concept_models/vivarium_mncnh_portfolio/anemia_component/anemia_ylds_module_diagram.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/anemia_component/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/postpartum_hemoglobin_module/module_document.rst
Labels: MNCNH_portfolio

#1684 PPD reordering
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/postpartum_depression.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/maternal_disorders_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/postpartum_depression/module_document.rst
Labels: MNCNH_portfolio

#1685 MNCNH maternal disorders cause ordering, some limitations
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/maternal_disorders_module/module_document.rst
Labels: MNCNH_portfolio

#1693 MNCNH new scenario run request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1692 MNCNH: Update data for GA errors; make facility choice language consistent
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/facility_choice_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/initial_attributes_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_module/module_document.rst
  docs/source/models/other_models/facility_choice/index.rst
  docs/source/models/other_models/pregnancy/gbd_2021_mncnh/index.rst
Labels: update, SE review required, documentation clean up, data, MNCNH_portfolio

#1694 MNCNH: Concept model abbreviations and language for facility choice
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: documentation clean up, MNCNH_portfolio

#1696 MNCNH vv update
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1695 Update MNCNH ANC module document
  docs/source/models/concept_models/vivarium_mncnh_portfolio/antenatal_care_module/module_document.rst
Labels: MNCNH_portfolio
