Repository ihmeuw/vivarium_research, pull requests merged in 2025-04, with the labels that each got.

#1611 Update Model Run Requests table
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1613 Add maternal intervention models to Model Run Requests table
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1614 Create module tables and subpages
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/antenatal_care_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/facility_choice_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/initial_attributes_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_interventions/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/maternal_disorders_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/module_template/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/neonatal_interventions/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/neonatal_mortality_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_module/module_document.rst
Labels: documentation clean up, MNCNH_portfolio

#1615 MNCNH pregnancy component reorg
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/ai_ultrasound_module_diagram.drawio
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/ai_ultrasound_module_diagram.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/antenatal_care_module/antenatal_care_module_diagram.drawio
  docs/source/models/concept_models/vivarium_mncnh_portfolio/antenatal_care_module/antenatal_care_module_diagram.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/antenatal_care_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/initial_attributes_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_module/module_document.rst
  docs/source/models/other_models/pregnancy/gbd_2021_mncnh/index.rst
Labels: documentation clean up, MNCNH_portfolio

#1608 Draft a page for probiotics intervention in neonatal model
  docs/source/models/intervention_models/neonatal/index.rst
  docs/source/models/intervention_models/neonatal/probiotics_intervention.rst
Labels: MNCNH_portfolio

#1617 Reorganize content of intrapartum component
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/facility_choice_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_interventions/intrapartum_intervention_module_diagram.drawio
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_interventions/intrapartum_intervention_module_diagram.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_interventions/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_sensors_cesarean_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/maternal_disorders_module/module_document.rst
Labels: documentation clean up, MNCNH_portfolio

#1619 Neonatal component reorg
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/facility_choice_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_interventions/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/neonatal_interventions/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/neonatal_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/neonatal_mortality_module/module_document.rst
Labels: documentation clean up, MNCNH_portfolio

#1612 Hemoglobin module documentation
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/hemoglobin_component.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/maternal_disorders_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_module/module_document.rst
Labels: Vivarium modeling strategy, MNCNH_portfolio

#1618 Partial term pregnancy duration V&V
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1621 Add model run request for probiotics with alternative scenarios
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1625 ANC number and timing detail for wave II
  docs/source/models/concept_models/vivarium_mncnh_portfolio/anc_detail_module/anc_detail_module_diagram.drawio
  docs/source/models/concept_models/vivarium_mncnh_portfolio/anc_detail_module/anc_detail_module_diagram.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/anc_detail_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/antenatal_care_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
Labels: MNCNH_portfolio

#1627 Link to overall maternal disorders cause model document
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/maternal_disorders_module/module_document.rst
Labels: documentation clean up, MNCNH_portfolio

#1624 Integrate facility choice docs into concept model
  docs/source/models/concept_models/vivarium_mncnh_portfolio/antenatal_care_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/facility_choice_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/initial_attributes_module/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_module/module_document.rst
  docs/source/models/other_models/facility_choice/index.rst
Labels: MNCNH_portfolio

#1623 Update V&V tracker with refactor run
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1628 Update V&V tracker with probiotics run
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1634 Postpartum hemoglobin module
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/postpartum_hemoglobin_module/module_document.rst
Labels: MNCNH_portfolio

#1631 Add hemoglobin screening accuracy instructions
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
Labels: MNCNH_portfolio
