Repository ihmeuw/vivarium_research, pull requests merged in 2025-09, with the labels that each got.

#1758 Doc improvement to baseline IFA calibration
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/hemoglobin_component.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
Labels: documentation clean up, MNCNH_portfolio

#1782 MNCNH 16.3vv and 16.4 request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1785 Alzheimer's model 4.2: Switch to Weibull distribution
  docs/source/models/causes/alzheimers/presymptomatic_and_mci_gbd_2021/index.rst
  docs/source/models/concept_models/vivarium_alzheimers/concept_model.rst
Labels: update, SE review required, data, Alzheimers_sim

#1775 Transfer automated V&V docs to vivarium_testing_utils
  docs/source/model_design/vivarium_features/automated_v_and_v/PPV,_NPV,_Sensitivity_and_Specificity.svg
  docs/source/model_design/vivarium_features/automated_v_and_v/index.rst
  docs/source/models/concept_models/vivarium_census_synthdata/concept_model.rst
Labels: meta modeling strategy, documentation clean up

#1790 Model 16.4 neonatal mortality V&V updates and 16.6 run request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1674 Simulation observer documentation page
  docs/source/model_design/vivarium_model_components/index.rst
  docs/source/model_design/vivarium_model_components/observers/index.rst
  docs/source/models/templates/concept_model_template.rst
  docs/source/onboarding_resources/tutorial/concept_model.dot
  docs/source/onboarding_resources/tutorial/index.ipynb
Labels: meta modeling strategy

#1768 Alzheimers: Update population model for model 4
  docs/source/models/other_models/alzheimers_population/index.rst
Labels: Vivarium modeling strategy, Alzheimers_sim

#1799 Anemia screening intervention notes
  docs/source/models/intervention_models/mncnh_pregnancy/anemia_screening.rst
Labels: documentation clean up, data, MNCNH_portfolio
