Repository ihmeuw/vivarium_research, pull requests merged in 2025-05, with the labels that each got.

#1629 Update data limitations based on wave 1 data review
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/module_document.rst
  docs/source/models/intervention_models/neonatal/antibiotics_intervention.rst
  docs/source/models/intervention_models/neonatal/cpap_intervention.rst
Labels: MNCNH_portfolio

#1635 Update documentation for births observer
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1639 LBWSG PAF artifact rebuild request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1640 MNCNH V&V notebook clean-up
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1641 MNCNH PAF versioning VV tracking
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1644 Correct and update note about COMO restrictions
  docs/source/model_design/vivarium_features/other_causes_ylds/index.rst
Labels: GBD modeling strategy

#1646 Clean up of MNCNH concept model
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: documentation clean up, MNCNH_portfolio

#1645 VV tracking best practices proposal
  docs/source/models/templates/concept_model_template.rst
Labels: documentation clean up

#1647 MNCNH 6.1 through 6.4 summary and conclusion
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1643 Update effective coverage of probiotics
  docs/source/models/intervention_models/neonatal/probiotics_intervention.rst
Labels: MNCNH_portfolio

#1650 Add model run request 7.0 for probiotics
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1648 MNCNH model 6.5 run request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1649 MNCNH ferritin screening instructions
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/hemoglobin_component/module_document.rst
Labels: Vivarium modeling strategy, data, MNCNH_portfolio

#1655 MNCNH Model 7 vv and run requests
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1652 Adding race/ethnicity glossary to BLISS
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
Labels: bliss

#1656 Write up documentation for azithromycin intervention
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/intrapartum_interventions/module_document.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/maternal_disorders_module/module_document.rst
  docs/source/models/intervention_models/intrapartum/azithromycin_intervention.rst
  docs/source/models/intervention_models/intrapartum/index.rst
Labels: MNCNH_portfolio

#1658 Azithromycin model run request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1661 Typo fix
  docs/source/models/causes/neonatal/index.rst
Labels: documentation clean up

#1660 Model 7.0.1 vv
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1659 MNCNH 7.0.2 run request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1662 MNCNH model specification notes
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1638 Add Overview/Guiding principles to BLISS race and ethnicity guide
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
Labels: bliss
