Repository ihmeuw/vivarium_research, pull requests merged in 2025-02, with the labels that each got.

#1591 Explain use of risk components for CPAP intervention more explicitly
  docs/source/conf.py
  docs/source/models/intervention_models/neonatal/cpap_intervention.rst
Labels: MNCNH_portfolio

#1590 sketch code to derive PAF and RR
  docs/source/conf.py
  docs/source/models/intervention_models/neonatal/cpap_intervention.rst
Labels: MNCNH_portfolio

#1596 Don't use sphinx 8.2.0 (yet)
  requirements.txt
Labels: infrastructure

#1589 Add government definitions info to race and ethnicity guide
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/2020_census_questions.png
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/omb_2024_example_question.png
Labels: bliss

#1595 Update VnV tracking and model run requests tables
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1597 Update VnV tracker with no-LBWSG and early NN observer bugfix runs 3.2 & 3.3
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio
