Repository ihmeuw/vivarium_research, pull requests merged in 2025-07, with the labels that each got.

#1699 fix typos
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: documentation clean up

#1701 MNCNH model 11.2 vv summary
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: verification and validation tracking, MNCNH_portfolio

#1700 MNCNH: Update AI ultrasound module to handle new ANC strategy
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/ai_ultrasound_module_diagram.drawio
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/ai_ultrasound_module_diagram.drawio.svg
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/ai_ultrasound_module_diagram.png
  docs/source/models/concept_models/vivarium_mncnh_portfolio/ai_ultrasound_module/module_document.rst
Labels: update, MNCNH_portfolio

#1706 Add pregnancy digraph to pregnancy module page
  docs/source/models/concept_models/vivarium_mncnh_portfolio/pregnancy_module/module_document.rst
Labels: MNCNH_portfolio

#1711 Hemoglobin on nn sepsis risk effects
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/neonatal_module/module_document.rst
  docs/source/models/risk_effects/hemoglobin/index.rst
Labels: Vivarium modeling strategy, MNCNH_portfolio

#1714 MNCNH: Fix maternal sepsis decision tree nodes
  docs/source/models/causes/maternal_disorders/gbd_2021_mncnh/maternal_sepsis.rst
Labels: documentation clean up, MNCNH_portfolio

#1716 LBWSG PAF calculation doc update
  docs/source/models/causes/neonatal/index.rst
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1717 Mncnh/facility choice data update
  docs/source/models/other_models/facility_choice/index.rst
Labels: update, data, MNCNH_portfolio

#1719 Add model run request for preterm prevalence bugfix
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1723 MNCNH model 12.0 vv and 12.1.1 run request
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1724 Update hemoglobin risk effects doc
  docs/source/models/risk_effects/hemoglobin/index.rst
Labels: MNCNH_portfolio

#1720 Document model run request for ACS intervention
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/intervention_models/intrapartum/acs_intervention.rst
Labels: MNCNH_portfolio

#1726 Update IFA documentation based on new Cochrane review
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
  docs/source/models/intervention_models/mncnh_pregnancy/oral_iron_antenatal/oral_iron_antenatal.rst
Labels: MNCNH_portfolio

#1722 Add model 12.1 V&V to table
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio
