Repository ihmeuw/vivarium_research, pull requests merged in 2025-01, with the labels that each got.

#1576 Upgrade Python and Sphinx
  .github/workflows/build.yml
  .readthedocs.yml
  docs/source/conf.py
  docs/source/onboarding_resources/contributing/index.rst
  requirements.txt
Labels: infrastructure

#1580 Add explicit configuration to readthedocs
  .readthedocs.yml
Labels: infrastructure

#1579 Add tutorial, with only model design section complete
  .github/workflows/build.yml
  .readthedocs.yml
  docs/source/conf.py
  docs/source/model_design/designing_vivarium_model/minimum_viable_model/index.rst
  docs/source/model_design/general_reference_material/causal_diagrams/acyclic_dags.svg
  docs/source/model_design/general_reference_material/causal_diagrams/backdoor_path_dag.svg
  docs/source/model_design/general_reference_material/causal_diagrams/basic_int_diagram.svg
  docs/source/model_design/general_reference_material/causal_diagrams/closed_backdoor_paths.svg
  docs/source/model_design/general_reference_material/causal_diagrams/collider_dag.svg
  docs/source/model_design/general_reference_material/causal_diagrams/confounding_triangle.svg
  docs/source/model_design/general_reference_material/causal_diagrams/dashed_association.svg
  docs/source/model_design/general_reference_material/causal_diagrams/directional_dag.svg
  docs/source/model_design/general_reference_material/causal_diagrams/effect_mod_arrow_diagram.svg
  docs/source/model_design/general_reference_material/causal_diagrams/index.rst
  docs/source/model_design/general_reference_material/causal_diagrams/medication_example.svg
  docs/source/model_design/general_reference_material/causal_diagrams/open_backdoor_paths.svg
  docs/source/model_design/general_reference_material/causal_diagrams/paths_closed_by_colliders.svg
  docs/source/model_design/general_reference_material/causal_diagrams/risk_factors_mediation_diagram.svg
  docs/source/model_design/general_reference_material/causal_diagrams/risk_factors_mediation_example.svg
  docs/source/model_design/general_reference_material/causal_diagrams/smoking_intermediate_example (2).svg
  docs/source/model_design/general_reference_material/causal_diagrams/smoking_intermediate_example.svg
  docs/source/model_design/general_reference_material/causal_diagrams/smoking_intervention_example.svg
  docs/source/model_design/general_reference_material/causal_diagrams/smoking_triangle.svg
  docs/source/model_design/general_reference_material/causal_diagrams/unknown_var_association.svg
  docs/source/model_design/general_reference_material/causal_diagrams/with_em_illustration.jpg
  docs/source/model_design/general_reference_material/causal_diagrams/with_em_illustration.svg
  docs/source/model_design/general_reference_material/causal_diagrams/without_em_illustration.jpg
  docs/source/model_design/general_reference_material/causal_diagrams/without_em_illustration.svg
  docs/source/onboarding_resources/contributing/index.rst
  docs/source/onboarding_resources/index.rst
  docs/source/onboarding_resources/tutorial/environment.yaml
  docs/source/onboarding_resources/tutorial/environment_lock_conda.txt
  docs/source/onboarding_resources/tutorial/environment_lock_pip.txt
  docs/source/onboarding_resources/tutorial/index.ipynb
  requirements.txt
Labels: Vivarium modeling strategy, meta modeling strategy

#1586 Fix a minor typo in the README
  README.rst
Labels: documentation clean up

#1582 Add definitions section to race and ethnicity guide
  docs/source/model_design/general_reference_material/bliss/race_ethnicity/index.rst
Labels: bliss

#1584 Update neonatal decision tree table with RDS data inputs
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio

#1588 Update concept model with placeholder values for antibiotics for neonatal sepsis
  docs/source/models/concept_models/vivarium_mncnh_portfolio/concept_model.rst
Labels: MNCNH_portfolio
